---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-950 text-zinc-50">
    <Header />
  <main class="px-56">
	<div class="p-4">
		<h1 class="font-bold text-center">Justify Content - FLEX</h1>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-start</p>
		  <p class="text-zinc-500">Css: justify-content: flex-start</p>
		</div>
		<div class="bg-zinc-900 flex justify-start rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
  
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-center</p>
		  <p class="text-zinc-500">CSS: justify-content: center</p>
		</div>
		<div class="bg-zinc-900 flex justify-center rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-end</p>
		  <p class="text-zinc-500">CSS: justify-content: flex-end</p>
		</div>
		<div class="bg-zinc-900 flex justify-end rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-between</p>
		  <p class="text-zinc-500">CSS: justify-content: space-between</p>
		</div>
		<div class="bg-zinc-900 flex justify-between rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-around</p>
		  <p class="text-zinc-500">CSS: justify-content: space-around</p>
		</div>
		<div class="bg-zinc-900 flex justify-around rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-evenly</p>
		  <p class="text-zinc-500">CSS: justify-content: space-evenly</p>
		</div>
		<div class="bg-zinc-900 flex justify-evenly rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-stretch</p>
		  <p>grid grid-flow-col</p>
		  <p class="text-zinc-500">CSS: justify-content: stretch</p>
		</div>
		<div class="bg-zinc-900 grid grid-flow-col justify-stretch rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		</div>
	</div>
	<div class="p-4">
		<h1 class="font-bold text-center">Justify Items - GRID</h1>
		
		
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: grid grid-cols-3 </p>
		  <p class="text-zinc-500">CSS: grid-template-columns: repeat(3, minmax(0, 1fr))</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-items-start</p>
		  <p class="text-zinc-500">CSS: justify-items: start</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 justify-items-start rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-items-end</p>
		  <p class="text-zinc-500">CSS: justify-items: end</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 justify-items-end rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-items-center</p>
		  <p class="text-zinc-500">CSS: justify-items: center</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 justify-items-center   rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-items-stretch</p>
		  <p class="text-zinc-500">CSS: justify-items: stretch</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3  justify-items-stretch rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
	
		
	</div>
	<div class="p-4">
		<h1 class="font-bold text-center">Justify Self - GRID</h1>
		
		
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: grid grid-cols-3 </p>
		  <p class="text-zinc-500">CSS: grid-template-columns: repeat(3, minmax(0, 1fr))</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-self-start </p>
		  <p class="text-zinc-500">CSS: justify-self: start;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md justify-self-start">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-self-center </p>
		  <p class="text-zinc-500">CSS: justify-self: center;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md justify-self-center">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: justify-self-end </p>
		  <p class="text-zinc-500">CSS: justify-self: end;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md justify-self-end">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		</div>

		
		
	</div>
	<div class="p-4">
		<h1 class="font-bold text-center">Align Content - GRID</h1>
		
		
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: grid grid-cols-3 </p>
		  <p class="text-zinc-500">CSS: grid-template-columns: repeat(3, minmax(0, 1fr))</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32  rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-start </p>
		  <p class="text-zinc-500">CSS: align-content: flex-start;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-start rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-center </p>
		  <p class="text-zinc-500">CSS: align-content: center;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-center rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-end </p>
		  <p class="text-zinc-500">CSS: align-content: align-content: flex-end;</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-end rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-between </p>
		  <p class="text-zinc-500">CSS: align-content: align-content: space-between</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-between rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">7</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-around </p>
		  <p class="text-zinc-500">CSS: align-content: align-content: space-around</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-around rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">7</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-evenly </p>
		  <p class="text-zinc-500">CSS: align-content: align-content: space-evenly</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-evenly rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">7</div>
		
		</div>
		<div class="flex mt-2 justify-between text-sm">
		  <p>Tailwindcss: content-baseline </p>
		  <p class="text-zinc-500">CSS: align-content: align-content: baseline</p>
		</div>
		<div class="bg-zinc-900 grid grid-cols-3 h-32 content-baseline rounded-md">
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">1</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">2</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">3</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">4</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">5</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">6</div>
		  <div class="bg-zinc-800 px-2 border border-zinc-400 rounded-md">7</div>
		
		</div>

		<div class=" flex justify-evenly  items-center h-32 bg-black">
			<div class="bg-zinc-800 px-2 border w-16  border-zinc-400 rounded-md">1</div>
			<div class="bg-zinc-800 px-2 border w-16  border-zinc-400 rounded-md">1</div>


		</div>
		

		
		
	</div>



  </main>
    <Footer />
  </body>
</html>
