---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="bg-gray-900 fixed w-full flex items-center px-8 text-white h-16 justify-between"
>
  <h2><a href="/">{SITE_TITLE}</a></h2>
  <nav class="hidden md:flex">
    <HeaderLink class:list={"px-4"} href="/">Inicio</HeaderLink>
    <HeaderLink class:list={"px-4"} href="/docs">Docs</HeaderLink>
    <HeaderLink class:list={"px-4"} href="/blog">Blog</HeaderLink>
  </nav>
  <button class="bg-blue-600 rounded-md px-4 py-2 hidden md:block"> Sign in </button>
  <button id="btn-menu-toggle"
  class="hover:border hover:border-blue-600 px-1 rounded-md md:hidden" >
	<svg class="w- h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
		<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
	  </svg>
	  
  </button>
</header>	

<aside id="aside-toggle"
 class="bg-gray-900 hidden w-64 px-8 h-screen fixed top-16">
  <nav class="">
    <HeaderLink class:list={"py-2"} href="/">Inicio</HeaderLink>
    <HeaderLink class:list={"py-2"} href="/docs">Docs</HeaderLink>
    <HeaderLink class:list={"py-2"} href="/blog">Blog</HeaderLink>
  </nav>
</aside>

<script>

	document.getElementById("btn-menu-toggle")?.addEventListener("click",()=>{
		document.getElementById("aside-toggle")?.classList.toggle("hidden")
	})

</script>